@model Finansmart.Models.DashboardViewModel
<h2>Dashboard</h2>
<ul>
    <li>Saldo: @Model.Saldo</li>
    <li>Receitas: @Model.Receitas</li>
    <li>Despesas: @Model.Despesas</li>
    <li>Cursos Concluídos: @Model.CursosConcluidos</li>
    <li>Desafios Concluídos: @Model.DesafiosConcluidos</li>
</ul>
